HTML, BODY {
  font-size: 1rem;
  color: #373737;
}

.text-orange {
  color: #e2492f;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  margin: 0;
  padding: 0;
}

.mobile-button {
  width: 50px;
  padding: 10px;
  background-color: #e2492f;
  height: 45px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99999;
  cursor: pointer;
}
.mobile-button span {
  display: block;
  background-color: #ffffff;
  height: 5px;
  width: 100%;
  margin-bottom: 5px;
}
.mobile-button span:last-child {
  margin-bottom: 0;
}

header {
  margin-bottom: 15px;
  background-color: #dcdcdc;
  padding-top: 25px;
  padding-bottom: 25px;
}
header .header__breadcrumbs {
  text-transform: uppercase;
}

.content .content__left .items .item {
  margin-bottom: 30px;
}
.content .content__left .items .item .item__image {
  background-color: #373737;
  height: 436px;
  color: #ffffff;
}
.content .content__left .items .item .item__desc {
  background-color: #dcdcdc;
  padding: 25px;
}

@media (max-width: 767px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99998;
  }
}

/*# sourceMappingURL=style.css.map */
