$margin-global: 15px;
$margin-global-lg: 30px;
$header-padding: 25px;
$mobile-button-position: 10px;
$mobile-button-width: 50px;
$mobile-button-height: 45px;
$z-index: 99999;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;