@import 'colors.scss';
@import 'variables.scss';

HTML, BODY {
    // font-family: 'Lato, sans-serif';
    font-size: 1rem;
    color: $color-darkgray;
}

// GLOBALS
.text-orange {
    color: $color-orange;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 0;
        padding: 0;
    }
}

.mobile-button {
    width: $mobile-button-width;
    padding: 10px;
    background-color: $color-orange;
    height: $mobile-button-height;
    position: fixed;
    top: $mobile-button-position;
    right: $mobile-button-position;
    z-index: $z-index;
    cursor: pointer;

    span {
        display: block;
        background-color: $color-white;
        height: 5px;
        width: 100%;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

header {
    margin-bottom: $margin-global;
    background-color: $color-gray;
    padding-top: $header-padding;
    padding-bottom: $header-padding;

    .header__breadcrumbs {
        text-transform: uppercase;
    }
}

.content {
    .content__left {
        .items {
            .item {
                margin-bottom: $margin-global-lg;

                .item__image {
                    background-color: $color-darkgray;
                    height: 436px;
                    color: $color-white;
                }
                .item__desc {
                    background-color: $color-gray;
                    padding: 25px;
                }
            }
        }
    }
}

@media(max-width: $screen-md - 1) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: $z-index - 1;
    }
}
